/* variables */

:root {
    --footer-height: 100px;
}

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

/*------------------
        main
 --------------------*/

/* contenitore di tutto il contenuto */

.main-division {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* aside, header e main content */

.body-content {
    background-color: #141922;
    flex-grow: 1;
    display: flex;
    width: 100%;
}

/* sidebar con playlist */

.sidebar {
    background-color: black;
    width: 250px;
    overflow-y: hidden;
    flex-shrink: 0;
    
}

/* container che racchiude header e main content con playlist */

.main-content-container {
   flex-grow: 1;
    overflow-y: scroll;
    
}

/* header di main */

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: sticky;
    top: 0;
    left: 250px;
    right: 0;
}

/* contenuto delle playlist */

main {
    max-width: 100%;
    height: 100%;
}



/*------------------
        footer 
 --------------------*/

footer {
    background-color: #282828;
    height: var(--footer-height);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-weight: 500;
}

/* player left */

.player-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-img {
    width: 40px;
}


.player-song p:nth-of-type(2) {
    color: grey;
    font-size: .9rem;
}

.player-left-icons i {
    color: grey;
    display: block;
    margin: 5px;
}




/* player central */

.player-top {
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-top .fa-circle-play {
    font-size: 1.8rem;
}


.player-bottom {
    display: flex;
    padding-top: 0.4rem;
    font-size: .6rem;
    align-items: center;
    gap: 10px;
    
}

.player-time {
    background-color: grey;
    border-radius: 5px;
    height: 4px;
    width: 20vw;
    position: relative;
}

.player-time::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 20%;
    height: 4px;
    border-radius: 5px;
}

/* player right */

.player-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-volume {
    background-color: grey;
    border-radius: 5px;
    height: 4px;
    width: 12vw;
    position: relative;
}

.player-volume::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 20%;
    height: 4px;
    border-radius: 5px;
}


/*------------------
      fine footer 
 --------------------*/